.static-page{
    h1{
        line-height: 1.2;
        margin:20px 0 ;
        text-align: center;
        margin-bottom: 9px;
        font-weight: 800;
        font-size: 35px;
        color: white;
        text-shadow: 1px 1px 0px #121d33;
    }
    h2{
        font-size: 25px;
        margin: 5px 0;
        line-height: 2.4;
        text-transform: capitalize;
    }
}