.convert-money {
 
    margin-top: 20px;
    width: 100vw;
    background-color: rgb(19,22,32);
    padding: 3rem 0;
    // @include for-max-narrow-layout {
    //  text-align: center;
    // }
    h1{
        line-height: 1.5;
        color: white;  
    }
    h3{
        color: rgb(229, 232, 240);
opacity: 0.6;
margin-bottom: 8px;
    }
.converter-main{

    .converter {
        margin-bottom: 15px;
        >*{
            margin-right: 5px;
        }
        // @include for-max-narrow-layout {
        //     input{
        //         margin: 7px 0;
        //         width: 100%;
        //         height: 2.5rem;
        //     }
        // }
    }
    .res-container{
        h2{
            color:white;
            // color: #e5e8f0;
            margin-bottom: 15px;
        }
        button{
            font-size: 17px;
            padding: 10px 16px;
            width: fit-content;
        }

    }
}
}
