.contact-preview  {

    background-color: #e0e0e0;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    width: 60vw;
    max-width: 100%;
    border-radius: 10px;
    transition-duration: 0.3s;
    min-width: 328px;
    cursor: pointer;
    &:hover{
        background: aliceblue;
         color: #817c7c;
    }
   .btn-controls{

       >*:not(:last-child){
           margin-right: 5px;
        }
    }
    .profile-img{
        width: 50px;
        margin: 0 5px;
    }
    h3{
        margin: 0 3px;
    }
}